$smFontSize: 18px;
$smHeading: 60px;
$lgFontSize: 24px;

$smPadding: 20px;
$lgPadding: 30px;
$xxlPadding: 65px;

$smMargin: 100px;
$lgMargin: 40px;
$xxlMargin: 60px;

$mainFont: 'PP Neue Montreal', sans-serif;
$mainFontBook: 'PP Neue Montreal Book', sans-serif;
$mainWeight: 400;

$secondFont: 'Redaction 20', sans serif;